@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap');

#font{
font-family: 'Cormorant', serif;
color: black;
}

#title{
font-weight: 500;
font-size: 50pt;

display: flex;
justify-content: center;
}

#text-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 01%;
}

.mini-right{
display: flex;
align-self: flex-start;
font-weight: 400;
font-size: small;
color: #9A9A9A;
}

.mini-left{
display: flex;
align-self: flex-end;
font-weight: 400;
font-size: small;
color: #9A9A9A;
}


#icon-search{
margin-left: 2%;
margin-top: 5%;
}

#icon-cart{
    margin-left: 2%;
margin-top: 5%;
}


.order-c {
    display: flex;
    align-content: center;
    font-size: 13pt;
    font-weight: 400;
    padding-left: 150pt;
    padding-right: 150pt;

}

.image-first{
    padding-left: 150pt;
    padding-right: 150pt;
}

.subtitle{
    color: black !important;
    font-weight: 700 !important;

}