@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap');

#font{
font-family: 'Cormorant', serif;
color: black;
}

#title{
font-weight: 500;
font-size: 50pt;

display: flex;
justify-content: center;
}


.menu-ham{
    display: none !important;
}

#text-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.mini-right{
display: flex;
align-self: flex-start;
font-weight: 400;
font-size: small;
color: #9A9A9A;
}

.mini-left{
display: flex;
align-self: flex-end;
font-weight: 400;
font-size: small;
color: #9A9A9A;
}


#icon-search{
margin-left: 2%;
margin-top: 5%;
}

#icon-cart{
    margin-left: 2%;
margin-top: 5%;
}


.order-c {
    display: flex;
    justify-content: center;
    font-size: 13pt;
    font-weight: 400;
    padding-left: 18%;
    padding-right: 18%;

}

.animation:hover{
    font-weight: 700;
    color: black;
}



/* .slider{
    width: 50%;
    height: 960;
    overflow: hidden;
}

.slider ul{
    display: flex;
    animation:cambio 20s infinite
    alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
width: 100%;
height: 100%;
}

@keyframes cambio{
0%{margin-left: 0;}
20%{margin-left: 0;}

25%{margin-left: -100;} 
45%{margin-left: -100;}

50%{margin-left: -200;}
70%{margin-left: -200;}

75%{margin-left: -300;}
100%{margin-left: -300;}
} */



.subtitle{
    color: black !important;
    font-weight: 700 !important;

}

.alignment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mx-6 > figure {
    display: flex;
    justify-content: center;

}

/* .mx-6 {
    width: 600px;
} */


.text-testimonies{
    display: flex;
    flex-direction: column;
    text-align: center;
/*     margin-left: 12%;
    margin-right: 12%; */
    }

.footer-look{
    background-color: #222222 !important;
    display: flex;
    justify-content: space-between;

}

.order-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
}



.sub-footer1{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
}


.sub-footer2{
    display: flex;
    align-self: center;
}


.sub-button{
background-color: #F2882D !important;
}


.images-bottom{
    align-items: center;
    margin-left: 18%;
    margin-right: 18%;
}

.sub-bottom{
    font-size: large;
    font-weight: 700 !important;
    display: flex;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

   /* height: auto !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.images-carrusel{
   margin-left: 3%; 
   margin-right: 0%;

   flex-wrap: no-wrap;
}



@media screen and (max-width:767px){
    #title{
        font-size: 30pt;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2pt;
    }
    
    .mini-right{
    font-size: 0%;
    }

    .mini-left > h4{
        display: none;
        }
    
    .order-c{
    font-size: 0%;
    }
.menu-ham{
display: block !important;
display: flex;
align-self: flex-start;
}


#icon-search{
display: flex;
align-self: flex-end;
margin-right: 4pt;
}

#icon-cart{
    display: flex;
align-self: flex-end;
}
.image-first{
    margin-top: 2pt;
}

.images-carrusel{
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;

}
    }